{% extends 'base.html' %}

{% block conteudo %}
<h2>Aqui é a home do projeto</h2>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, sapiente! Ad molestias veniam incidunt libero alias adipisci quo porro nisi, atque temporibus esse dicta labore cum doloremque harum natus voluptatibus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam recusandae repudiandae, sapiente pariatur animi deserunt rem ratione quisquam repellendus natus maiores nihil veritatis, dolore libero molestiae nisi quibusdam dicta vero?
    
</p>
{%endblock%}