{% extends 'base.html' %}

{% block conteudo %}

<h2>{{info.animal.nome}}</h2>
<img src="{{ url_for('static', filename='images/imagem-animal-1.jpg') }}" alt="Imagem animal {{id}}">
<p>
    {{info.animal.idade}} anos | {{info.animal.sexo}} | {{info.animal.tipo}}
</p>
<p>
    Caso queira adotar entre em contato com o Doante <br>
    Doante: {{info.doante.nome}} <br>
    {{info.doante.cidade}}, {{info.doante.estado}} <br> <br>
    Informações para contato: <br>
    telefone: {{info.doante.telefone}} <br>
    email: {{info.doante.email}}
</p>

<a href="{{ url_for('quero_adotar') }}">
    <input type="button" value="Voltar">
</a>

{%endblock%}
