{% extends 'base.html' %}

{% block conteudo %}

{% for itemAdocao in lista %}
    <div class="conteudo">
        <img src="{{ url_for('static', filename='images/imagem-animal-1.jpg) }}" alt="Imagem animal {{itemAdocao.animal.idAnimal}}">
        <div class="individual">Nome: {{itemAdocao.animal.nome}}</div>
        <div class="individual">Idade: {{itemAdocao.animal.idade}}</div>
        <div class="individual">Cidade: {{itemAdocao.doante.cidade}}</div>
        <div class="individual">Estado: {{itemAdocao.doante.estado}}</div>
        <a href="{{ url_for('info_do_animal', idAnimal = itemAdocao.animal.idAnimal) }}">
            <input type="button" value="Quero Adotar">
        </a>
    </div>
{% endfor %}

{%endblock%}
